#title{
    margin-top: 0;
    text-align: center;
    text-decoration: underline;
    background-color: lightgrey;
}
.names {
    display: flex;
    justify-content: center;
}
section{
    margin-left: 5%;
}
section a{
    margin-left: 5%;
}
section p{
    margin-left: 5%;
}
figcaption{
    margin-left: 3%;
}

img{
    margin-left: -5%;
    position: relative;
    width: 750px;
    height: 500px;
}
#image1{
    margin-left: 3%;
    width: 700px;
}
#image2{
    margin-left: 2.5%;
    width: 650px;
    height: 450px;
}
#UI_improv2{
    margin-left: 3%;
    width: 1200px;
}
#UI_improv1{
    margin-left: 3%;
}

